---
import Button from '~/components/ui/Button.astro';
import type { Hero as Props } from '~/types';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline,
  content = await Astro.slots.render('content'),
  bgImage ='/fondo (6).gif', 
  id,
} = Astro.props;
---

<section
  class="relative w-full h-screen bg-cover bg-center flex items-center justify-center text-center not-prose"
  style={`background-image: url('${bgImage}');`}
  {...(id ? { id } : {})}
>
  <div class="absolute inset-0 dark:bg-black dark:bg-opacity-80"></div>

  <div class=" text-white dark:text-gray-100 relative z-10 max-w-3xl px-6">
    {tagline && (
      <p
        class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase"
        set:html={tagline}
      />
    )}

    {title && (
      <h1
        class="text-4xl md:text-5xl font-extrabold text-white mb-6"
        set:html={title}
      />
    )}

    {subtitle && (
      <p
        class="text-lg text-gray-200 mb-6"
        set:html={subtitle}
      />
    )}


  <div class="flex justify-center">
    <Button
      href="/contact"
class={`group relative inline-block px-8 py-3 font-semibold text-white rounded-lg shadow-lg
       bg-gradient-to-r from-blue-600 via-indigo-600 to-blue-700 dark:from-purple-900 dark:via-indigo-800 dark:to-purple-900
       transition-all duration-500 ease-out
       hover:scale-105 hover:shadow-2xl hover:from-blue-700 hover:via-indigo-600 hover:to-blue-600
       overflow-hidden`}

    >
      <span class="relative z-10">Solicita más información</span>
      <span
        class="absolute inset-0 w-1/3 bg-white/30 skew-x-12
               -translate-x-full group-hover:translate-x-[400%]
               transition-transform duration-700 ease-in-out
               pointer-events-none"
      ></span>
    </Button>
  </div>




    {content && <Fragment set:html={content} />}
  </div>
</section>
